/* Color Section */
.grn-color{
    color:#30B868;
}
.wht-color{
    color:#ffffff
}
.blk-color{
    color: black;
}
.gray-color{
    color: lightgray;
}
.des-color{
    color: #817c7c;
}
.last-color{
    color: #627382;
}
.navy-color{
    color: #001931;
    padding-bottom: 20px;
}



/* universal section */
*
.open-sans{
  font-family: "Open Sans", sans-serif;
}






/* main section */

.nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    padding: 16px;
    
}
.nav-button{
    margin-top: 15px;
    cursor: pointer;
}
.nav-button a{
    text-decoration: none;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    vertical-align: middle;
    padding: 16px;

}
.menu ul a{
    text-decoration: none;
    
}

.banner-button{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
    
}


.button-grn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: #469165;
    padding: 12px 30px;
    cursor: pointer;
    color: #ffffff;
    gap: 3px;
    cursor: pointer;
}
.button-trs{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #46916500;
    padding: 12px 30px;
    cursor: pointer;
    color: #ffffff;
    gap: 3px;
    cursor: pointer;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-button a{
    text-decoration: none;
}
.header{
    width: 100%;
   
}

/* ,................................. */
*{
    margin: 0;
    padding: 0;
    
}


.banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    padding: 115px 0px ;
}
.banner-capsule{
    border: 1px solid none;
    border-radius: 1000px;
    background: #ffffff;
    height: 20px;
    width: 230px;
    padding: 8px 16px;
    gap: 6px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
}
.banner-text h1{
    font-size: 72px;
    font-weight:700;
    text-align: center;
    line-height: 84px;
}
.banner-text p{
     font-size: 18px;
    font-weight:400;
    text-align: center;
    line-height: 24px;
}

/* container */

.container-head h1{
    font-size: 48px;
    font-weight:700;
    text-align: center;
    padding-top: 35px;
}
.container-head p{
    font-size: 16px;
    font-weight:400;
    text-align: center;
    color: #627382;
    margin-top: 16px;
}
.card-container{
    display: flex;
    text-align: center;
    background-color: #fbfbfb;
    margin: 44px 120px;
    gap: 10px;
    
    
}
.card-container img{
    background-color: #F95555;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border-width: 60px;
    padding: 10px;
    
}
.card {
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0px #ddd9d9 ;
    height: 250px;
    width: 280px;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* solution-container */
.container-content{
    margin-left: 40px;
}
.solution-container{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 840px;
    
    
}
.content-feature ul{
    list-style: none;
}


/* content-feature */

.last-container{
    text-align: center;
    background-color: #ffffff;
    padding: 2px 120px 120px 120px;
    
}
.last-content{
    padding: 80px 40px;
    background-color: #F7F6F2;
    line-height: 80px;
}
.features{
    margin-top: 20px;
    padding: 0;
    
}

.features li {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px;
    margin: 2px;
    gap: 10px;
}

/* site-footer */
.site-footer{
    background-color: #001931;
    justify-content: space-around;
   
}
.main-footer{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 30px 120px ;

}
.hr-line{
    width: 90%;
    margin: auto;
}
.copyright{
    text-align: center;
    padding: 30px 0px;
}