.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;

}
.menu ul a{
    text-decoration: none;
    
}